extends ./layout/layout
include components/banner
include components/slider
include components/slider2
include components/cards
include components/news

block variables
    - var page_title = 'Главная';

block content
    .index 
        +slider()
        div.index_margin-bottom-24px
        +banner()
        div.index_margin-bottom-32px
        +cards()
        div.index_margin-bottom-16px
        +slider2()
        div.index_margin-bottom-32px
        +news()
        div.index_margin-bottom-24px
