mixin banner() 
    div.banner
        div.banner__info
            h2.banner__title Rubber-bearing ficus (elastic)
                p.banner__description Ficus elastica (Ficus elastica), or rubber-bearing ficus...
        img(src="../images/Слой.svg").banner__image
