mixin cards()
    .cards(id="cards")
    div.cards__wrapper-heading
        h2.cards__heading Plants and flowers
        button.js-cards__heading-button.cards__heading-button See all
    div.cards__items
        each val in [{title:"Orchid", rating: 8.1, src: "../images/card1.svg"},{title:"Pions", rating: 9.1, src: "../images/card2.svg"},{title:"Aloe", rating:5.6, src: "../images/card3.svg"},{title:"Chrysanthemum", rating:7.5, src: "../images/card4.svg"}]
            div.cards__item
                div.cards__picture
                    img.cards__picture-image(src=val.src)
                div.cards__rating
                    img(src="../images/Star.svg")
                    span.cards__rating-description=val.rating  
                h2.cards__title=val.title   
                button.js-cards__button.cards__button Review             