mixin news() 
    div.news(id="news")
        div.news__wrapper-heading
            h2.news__heading Plants and flowers
            button.js-news__heading-button.news__heading-button See all
        img(src="../images/news.svg").news__image  
        p.news__description Indoor flowers and potted plants
        span.news__date 16.06.21
        img(src="../images/eye.svg")
        span.news__views 16