mixin slider()
    div.slider(id="slider")
        h2.slider__heading Reccomended for you 
        div.js-slider__items.slider__items
            div.slider__item
                figure 
                    img(src="../images/image Box2.svg")
                    figcaption ОБИ
            div.slider__item
                figure
                    img(src="../images/image Box1.svg")
                    figcaption Леруа Мерлен
            div.slider__item
                figure 
                    img(src="../images/image Box2.svg")
                    figcaption ОБИ
            div.slider__item
                figure
                    img(src="../images/image Box1.svg")
                    figcaption Леруа Мерлен        
                    