mixin slider2()
    div.slider2(id="slider2")
        div.slider2__wrapper-heading
            h2.slider2__heading Plant care
            button.js-slider2__heading-button.slider2__heading-button See all
        div.js-slider2__items.slider2__items
            div.slider2__item
                img(src="../images/slider2.svg")
                h3.slider2__item-title Pots for plants
                p.slider2__item-description Flower pot Ingreen ø13 h10. 4 cm v0. 7 L plastic marble
                button.js-slider2__item-button.slider2__item-button Go over
            div.slider2__item
                img(src="../images/slider2.svg")
                h3.slider2__item-title Pots for plants
                p.slider2__item-description Flower pot Ingreen ø13 h10. 4 cm v0. 7 L plastic marble
                button.js-slider2__item-button.slider2__item-button Go over