.banner {
	background: linear-gradient(180deg, #cbd623 0%, #41701e 100%);
	border-radius: 8px;
    display: flex;
    padding: 8px 15px;
    justify-content: space-between; 

	&__title {
		padding-bottom: 4px;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: #ffffff;
	}

	&__description {
		font-size: 14px;
		line-height: 20px;
		color: rgba(255, 255, 255, .5);
	}
}
