.cards {
	&__wrapper-heading {
		display: flex;
		justify-content: space-between;
		padding-bottom: 24px;
	}

	&__heading {
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
	}

	&__heading-button {
        background: #E5E5E5;
		color: #6ba91a;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		padding-bottom: 8px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 16px;
		background: #ffffff;
		box-shadow: 0px 2px 4px rgba(17, 24, 39, .08);
		border-radius: 8px;
	}

	&__picture {
		display: flex;
		justify-content: center;
		border-radius: 8px 8px 0px 0px;
		width: 144px;
		background: #111827;

		&-image {
			padding-bottom: 15px;
		}
	}

	&__rating {
		display: flex;
		align-items: center;
		padding: 2px 0px 2px 4px;
		margin-top: -8px;
		background: #f59e0b;
		border-radius: 2px;
		height: 16px;
		width: 44px;

		&-description {
			padding-left: 2px;
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			color: #ffffff;
		}
	}

	&__title {
		height: 37px;
		padding-top: 8px;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
	}

	&__button {
		padding: 10px 36.5px;
		color: #6ba91a;
		background: #e2fedb;
		border-radius: 8px;
	}
}
