.header {
	background: #111827;
	&__content {
		display: flex;
		height: 72px;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		padding-left: 8px;
		margin-right: 40px;
	}

	&__nav {
		display: flex;
		justify-content: space-between;

		& button {
			margin-right: 10px;
			background: #111827;
		}

		& span {
			color: white;
		}
	}

	&__language {
		margin-top: -4px;
	}

	&__toggle {
		margin-top: -20px;
		background: #111827;
		padding: 0px 8px 131px 8px;
		width: 100%;
		display: none;
		position: absolute;
		z-index: 1;
	}

	&__login-button {
		margin-top: 36px;
		width: 100%;
		padding: 12px;
		background: #1f2937;
		border-radius: 8px;
	}

	&__login-description {
		padding-left: 8px;
		color: #ffffff;
	}

	&__toggle-item {
		padding: 20px 0px;
		text-align: start;
		width: 100%;
		display: block;
		font-weight: 600;
		font-size: 16px;
		line-height: 16px;
		color: #ffffff;
		background: #111827;
	}

	&__line {
		border: 1px solid #d1d5db;
	}
}
