.index {
    background: #E5E5E5;
    padding: 24px 8px;
    &_margin-bottom-24px {
        margin-bottom: 24px;
    }
    &_margin-bottom-32px {
        margin-bottom: 32px;
    }
    &_margin-bottom-16px {
        margin-bottom: 16px;
    }
}

