.news {
	&__wrapper-heading {
		display: flex;
		justify-content: space-between;
		padding-bottom: 24px;
	}

	&__heading {
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
	}

	&__heading-button {
		background: #e5e5e5;
		color: #2563eb;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
	}

	&__image {
		width: 100%;
	}

	&__description {
		padding-bottom: 10px;
		font-weight: 600;
	}

	&__date {
        color: #6B7280;
		padding-right: 8px;
	}

	&__views {
        color: #6B7280;
		padding-left: 2px;
	}
}
