.slider2 {
	&__wrapper-heading {
		display: flex;
		justify-content: space-between;
		padding-bottom: 24px;
	}

	&__heading {
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
	}

	&__heading-button {
		background: #e5e5e5;
		color: #6ba91a;
	}

	&__item {
		display: flex;
		flex-direction: column;
		padding: 8px;
		background: #ffffff;
		box-shadow: 0px 2px 4px rgba(17, 24, 39, .08);
		border-radius: 8px;
		& img {
			width: 100%;
		}
	}

	&__item-title {
		padding-top: 8px;
		color: #64a315;
	}

	&__item-description {
		padding: 8px 0px;
		font-size: 14px;
		line-height: 18px;
	}

	&__item-button {
		width: 100%;
		color: #FFFFFF;
		padding: 10px 82px;
		background: #64a315;
		border-radius: 8px;
	}
}
