html {
	font-family: Graphik;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	text-decoration: none;
	color: black;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	font-family: Roboto;
	&:hover {
		text-decoration: none;
	}
}

button,
button:active,
button:focus {
	border: none;
	outline: none;
}

button {
	cursor: pointer;
	opacity: 1;
	transition: .2s;

	&:hover {
		opacity: .5;
	}

	&:active {
		opacity: .3;
	}
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
}

@font-face {
	font-family: Graphik; /* Имя шрифта */
	src: url(../../fonts/Graphik-Regular.ttf); /* Путь к файлу со шрифтом */
}
