mixin footer()
    div.footer
        img.footer__image(src="../images/18+.svg")
        p.footer__description Our website is intended for informational purposes only and is not an advertisement. © 2018 - 2021