mixin header()
    div.header
        div.header__content
            a(href="#").header__logo
                img(src="../images/Logo.svg").header__logo-image
            div.header__nav      
                button.js-header__search.header__search
                    img(src="../images/magnifying-glass.svg")
                button.js-header__language.header__language
                    span PT   
                button.header__menu
                    img.js-header__menu(src="../images/bars.svg")
        div.js-header__toggle.header__toggle 
            button.js-header__login-button.header__login-button
                img(src="../images/circle-user.svg")  
                span.header__login-description Sign Up or Log in 
            button.js-header__toggle-item1.header__toggle-item Plants and flowers
            div.header__line
            button.js-header__toggle-item2.header__toggle-item Plant care
            div.header__line  
            button.js-header__toggle-item3.header__toggle-item News           